@import url(https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-family: 'Baloo Tammudu 2', 'Poppins', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

button {
    transition: all .3s;
    border: none;
    border-radius: 5px;
}

button:hover:enabled {
    background-color: #333;
    color: #fff;
}